.nav1{
    display: flex;
}

.nav1left{
    width: 26.5rem;
    height: 150vh;
    background-color: white;
}

.nav1left_header{
    border-bottom: 0.1rem solid #f5f5f5;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav1left_header p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.4);
}

.nav1left_header span{
    font-size: 5rem;
    color: black;
    font-weight: 300;
}

.nav1wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
  }

  .nav1wrapperdark{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

.nav1left_menu_box{
    padding: 10% 6%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav1menu_settings{
    height: 13rem;
    width: 26.5rem;
    padding-inline: 6%;
}

.nav1menu_settings div{
    height: 4.5rem;
    padding-inline: 8%;
    position: relative;
}

.nav1menu_settings_item{
    padding: 0px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.nav1menu_settings_item div{
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(0,0,0,0.4);
}

.nav1menu_settings_item p{
    color: rgba(0,0,0,0.4);
    font-size: 1.2rem;
}

.nav1menu_settings div:nth-child(2) {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.colormode{
    display: flex;
}

  /* DASHBOARD_RIGHT_PART_STYLING_STARTS */

.nav1right{
    height: 9rem;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3%;
    width: 100%;
}

.nav1right_left_div{
    display: flex;
    align-items: center;
    gap: .4rem;
    color: rgba(0,0,0,0.3);
    font-size: 1.4rem;
}

.nav1right_right_div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav1search_box{
    width: 33.7rem;
    display: flex;
    height: 4.5rem;
    position: relative;
}

.nav1search_box div{
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.nav1search_box input{
    width: 100%;
    height: 100%;
    padding-inline: 13%;
    background-color: #f9f9f9;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.8rem;
}

.nav1search_box input::placeholder{
    color: rgba(0,0,0,0.2);
}

.nav1notification{
    font-size: 2.3rem;
    position: relative;
}

.nav1notification::before{
    position: absolute;
    content: "";
    top: 0.3rem;
    right: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.8rem;
    background-color: red;
}

.nav1profile{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav1image{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1profile_detail b{
    color: rgba(0,0,0,0.6);
}
.nav1profile_detail p{
    color:rgba(0,0,0,0.3);
    font-size: 1.2rem;
}


/* sdjhvbhjdsbvhdh */
.nav1menu{
    width: 100%;
    height: 4.5rem;
    background-color: rgb(241, 246, 252);
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8%;
}

.nav1menu div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav1menu div:nth-child(1) div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.nav1menu div:nth-child(1) p{
    font-size: 1.2rem;
    font-weight: bold;
}

.nav1menu div:nth-child(2){
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* menu_category_style */

.nav1menu_category{
    padding-inline: 8%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav1menu_category div:nth-child(1){
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav1menu_category div:nth-child(1) div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.nav1menu_category div:nth-child(1) p{
    font-size: 1.2rem;
}

.nav1menu_category div:nth-child(2){
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav1menu_category div:nth-child(2) div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(0,0,0,0.3);
}

.nav1menu_category div:nth-child(2) p{
    font-size: 1.2rem;
    color: rgba(0,0,0,0.3);
}

.nav1right_dropdown{
    position: relative;
    height: 9rem;
    display: flex;
    align-items: center;
}

.nav1right_dropdown_box{
    position: absolute;
    top: 7rem;
    right:3%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: black;
    z-index: 130;
    width: 18rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.nav1right_dropdown_box > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0,0.6);
    font-size: 1.6rem;
    cursor: pointer;
}

.ad-profile-image{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px  solid rgba(0,0,0,0.4);
    position: absolute;
    margin-right: 2rem;
}

.ad-profile-image>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ad-profile-image-camera>button{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #fff;
    border-radius: 0.4rem;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    cursor: pointer;

    position: relative;
    top: 1.5rem;
    left: 1rem;
}



.nav2toggle_switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 2rem;
  }
  
.nav2toggle_switch input {
    display: none;
}
  
.nav2slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 3.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.nav2slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.4rem;
    bottom:0.4rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }


  .nav2slider::before {
    content: ''; 
    display: inline-block;  
    transform: translateX(0);
  }
  
  .nav2slider.checked::before {
    transform: translateX(15px);
  }
  

  .nav1notification {
    margin-right: 2rem;
  }

  .nav1left_header>span{
    font-size: 2.5rem;
  }

  .nav1left_header>span:nth-child(1){
    font-weight: bold;
  }


  /* DARK MODE */

  .nav1left_header_dark{
    background-color: var(--dark-secondary-color) !important;
  }

  .nav1left_header_dark span{
    color: var(--light-secondary-color)
  }

  .nav1right_dark{
    background: var(--dark-secondary-color);
    color: var(--light-secondary-color)
  }

  @media((min-width:0px) and (max-width:400px)){
    .nav1left{
        width: 6rem;
        height: 330vh;
    }

    .nav1menu_settings>div:nth-child(2){
        display: none;
    }

    .nav1left_header>p{
        display: none;
    }

    .nav1search_box{
        display: none;
    }

    .nav1notification{
        display: none;
    }

    .nav1right_right_div{
        /* display: none; */
    }
    .nav1-menu{
        justify-content: center !important;
        margin-bottom: 0.5rem;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    }

    .nav1left_header>span:nth-child(2){
        display: none;
    }

    .nav1profile{
       
    }

    .nav1right_dropdown_box{
        top: 9rem;
        right: 3rem !important;
        width: 50vw !important;
        margin-left: 2rem !important;
        gap: 2rem;
        
    }

    .nav1right_dropdown_box>div>p{
        font-size: 2rem !important;
    }

    .menu-active{
        background-color: #000 !important;
    }      

    .colormode{

     
    }
  }