.connectSalon>div{
    background-color:#fff;
    margin-top: 1rem;
    width: 85%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.connectSalon>div>div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.connectSalon>div>div>label{
    font-weight: 500;
}

.connectSalon>div>div>div{
    background: #f1f6fc;
    height: 18rem;
    border-radius: 6px;
    padding: 1rem;
    overflow-y: scroll;
}

.connectSalon>div>button{
    height: 4.5rem;
    width: 100%;
    margin-top: 16rem;
    background: #f1f6fc;
    border: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}

.barber-salonlist-cnt{
    height: 3.5rem;
    background-color: #fff;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2rem;
}



/* TOGGLE_SWITCH_CSS_STYLING */

.nav2toggle_switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 2rem;
  }
  
.nav2toggle_switch input {
    display: none;
}
  
.nav2slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 3.4rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.nav2slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: 0.4rem;
    bottom: 0.4rem;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }


  .nav2slider::before {
    content: ''; 
    display: inline-block;  
    transform: translateX(0);
  }
  
  .nav2slider.checked::before {
    transform: translateX(15px);
  }
  

@media((min-width:0px) and (max-width:400px)){
  .connectSalon>div{
    width: 100%;
    grid-template-columns: 1fr;
  }

  .connectSalon>div>button{
    font-size: 1.2rem;
    margin-top: 4rem;
  }

  .connectSalon>div>div>div{
    width: 40rem !important;
  }

  .container{
    width: 110vw;
  }

  .right_div_end {
    margin-top: 0px !important;
  }
}