.nav1{
    display: flex;
}

.nav1left{
    width: 265px;
    height: 130vh;
    background-color: white;
}

.nav1left_header{
    border-bottom: 1px solid #f5f5f5;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav1left_header p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.4);
}

.nav1left_header span{
    font-size: 50px;
    color: black;
    font-weight: 300;
}

.nav1wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
  }

.nav1left_menu_box{
    padding: 10% 6%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav1menu_settings{
    height: 130px;
    width: 265px;
    padding-inline: 6%;
}

.nav1menu_settings div{
    height: 45px;
    padding-inline: 8%;
    position: relative;
}

.nav1menu_settings_item{
    padding: 0px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.nav1menu_settings_item div{
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.4);
}

.nav1menu_settings_item p{
    color: rgba(0,0,0,0.4);
    font-size: 12px;
}

.nav1menu_settings div:nth-child(2) {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* TOGGLE_SWITCH_CSS_STYLING */

.nav1toggle_switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  
.nav1toggle_switch input {
    display: none;
}
  
.nav1slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.nav1slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  input:checked + .nav1slider {
    background-color: #2196F3;
  }
  
  input:checked + .nav1slider:before {
    transform: translateX(15px);
  }


  /* DASHBOARD_RIGHT_PART_STYLING_STARTS */

.nav1right{
    height: 90px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3%;
    width: 100%;
}

.nav1right_left_div{
    display: flex;
    align-items: center;
    gap: .4rem;
    color: rgba(0,0,0,0.3);
    font-size: 14px;
}

.nav1right_right_div{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav1search_box{
    width: 337px;
    display: flex;
    height: 45px;
    position: relative;
}

.nav1search_box div{
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.nav1search_box input{
    width: 100%;
    height: 100%;
    padding-inline: 13%;
    background-color: #f9f9f9;
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
}

.nav1search_box input::placeholder{
    color: rgba(0,0,0,0.2);
}

.nav1notification{
    font-size: 23px;
    position: relative;
}

.nav1notification::before{
    position: absolute;
    content: "";
    top: 3px;
    right: 3px;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background-color: red;
}

.nav1profile{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav1image{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1profile_detail b{
    color: rgba(0,0,0,0.6);
}
.nav1profile_detail p{
    color:rgba(0,0,0,0.3);
    font-size: 12px;
}


/* sdjhvbhjdsbvhdh */
.nav1menu{
    width: 100%;
    height: 45px;
    background-color: rgb(241, 246, 252);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8%;
}

.nav1menu div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav1menu div:nth-child(1) div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav1menu div:nth-child(1) p{
    font-size: 12px;
    font-weight: bold;
}

.nav1menu div:nth-child(2){
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* menu_category_style */

.nav1menu_category{
    padding-inline: 8%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.nav1menu_category div:nth-child(1){
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav1menu_category div:nth-child(1) div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav1menu_category div:nth-child(1) p{
    font-size: 12px;
}

.nav1menu_category div:nth-child(2){
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav1menu_category div:nth-child(2) div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgba(0,0,0,0.3);
}

.nav1menu_category div:nth-child(2) p{
    font-size: 12px;
    color: rgba(0,0,0,0.3);
}

.nav1right_dropdown{
    position: relative;
    height: 90px;
    display: flex;
    align-items: center;
}

.nav1right_dropdown_box{
    position: absolute;
    top: 70px;
    right:3%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: black;
    z-index: 130;
    width: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

.nav1right_dropdown_box > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    cursor: pointer;
}


@media((min-width:0px) and (max-width:400px)){
    .nav2slider{
        width:4.2rem !important
    }
}