.queselectauto-wrapper{
    width: 82% !important;
    position: absolute;
    top: 90px;
    left: 265px;
    margin-left: 35px;
    margin-top: 30px;

    background: #fff;
    height: 80vh;
    padding: 20px;
}

.queselectauto-head{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-block: 20px;
}

.queselectauto-content{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-block: 15px;
}

.queselectauto-content>button{
    height: 30px;
    width: 120px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 4px  rgba(0,0,0,0.4);
    cursor: pointer;
}


@media((min-width:0px) and (max-width:400px)){
    .barber-single-join-quebarberserv-content{
        grid-template-columns: repeat(5,10rem) !important;
    }
}