.cs-gj-quebarber-wrapper {
    width: 82% !important;
    position: absolute;
    top: 9rem;
    left: 26.5rem;
    margin-left: 3.5rem;
    margin-top: 3rem;
    background: #fff;
    height: 80vh;
    padding: 2rem;
}

.cs-gj-quebarber-wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block: 2rem;
}

.cs-gj-quebarber-wrapper > div > input {
    height: 4rem;
    border-radius: 0.3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.6);
    padding-inline: 1rem;
    width: 30rem;
}

.cs-gj-quebarber-wrapper > button {
    height: 4rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 0.4rem rgba(0, 0, 0, 0.3);
    border: none;
    padding-inline: 1rem;
    width: 30rem;
    background-color: orangered;
    color: #fff;
    cursor: pointer;
}

.barber-single-join-dropdown-list p{
    color: #000;
}

.barber-single-join-quebarberserv-content p{
    color: #000;
}

/* DARK MODE  */

.barber-single-join_dark h2{
    color:var(--light-secondary-color)
}

.barber-single-join_dark input{
    background-color: var(--dark-primary-color) !important;
    color: var(--light-secondary-color) !important;
}

.barber-single-join_dark input::placeholder{
    color: var(--light-secondary-color) !important;
}

.barber-single-join-dropdown-list_dark{
    background-color: var(--dark-primary-color);
}

.barber-single-join-content-bbr_dark{
    background-color: var(--dark-secondary-color);
}

.barber-single-join-content-bbr_dark p{
    color:var(--light-secondary-color)
}

.barber-single-join-services_dark{
    background-color: var(--dark-primary-color);
}

.barber-single-join-quebarberserv-content_dark{
    background-color: var(--dark-secondary-color);
}

.barber-single-join-quebarberserv-content_dark p{
    color:var(--light-secondary-color);
}

.barber-single-join-quebarberserv-content_dark{
    background-color: var(--dark-secondary-color);
}

.barber-single-join-services_dark{
    background-color: var(--dark-primary-color);
}

.barber-single-join-quebarberserv-content_dark{
    background-color: var(--dark-secondary-color);
}

.barber-single-join-quebarberserv-content_dark{
    background-color: var(--dark-secondary-color);
}

.barber-single-join-services_dark{
    background-color: var(--dark-primary-color);
}

.barber-single-join-quebarberserv-content-ggp_dark{
    background-color: var(--dark-secondary-color);
}

.barber-single-join-quebarberserv-content-ggp p{
    color:#000 !important;
}

.barber-single-join-quebarberserv-content-ggp_dark p{
    color: var(--light-secondary-color) !important;
}

@media((min-width:0px) and (max-width:400px)){
    .barber-single-join-services{
        overflow-x: scroll;
    }

    .barber-single-join-quebarberserv-content-ggp{
        width: 240%;
        grid-template-columns: repeat(6,15rem) !important;
    }
}