.admin_account_detail_container{
    width: 65%;
    height: 80vh;
    background: #fff;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    border-radius: 10px;
    padding: 20px;
}

.admin_account_detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 20px;
}

.admin_account_detail>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin_account_detail>div>input{
    height: 35px;
}

.skip{
    background:white;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    border: none;
    height: 30px;
    cursor: pointer;
    width: 45%;
    border-radius: 4px;
}