.calender-month {
  width: 82% !important;
  position: absolute;
  top: 9rem;
  left: 26.5rem;
  margin-left: 3.5rem;
  margin-top: 3rem;
  background: #fff;
  height: auto !important;
  padding: 2rem;
}

.fc .fc-scrollgrid {
  background-color: #fff;
  /* box-shadow: 0px 0px 1rem rgba(0,0,0,0.3); */
}

.fc-theme-standard td {
  border: 0.1rem solid rgba(0, 0, 0, 0.1) !important;
}

tr {
  background-color: white;
}

.fc-daygrid-day-frame {
  background-color: white;
}

.fc .fc-daygrid-day-frame {
  padding-inline: 1rem;
  padding-top: 1rem;
  cursor: pointer;
  height: 8rem !important;
}

.fc .fc-daygrid-day-frame:hover {
  background-color: #e8eaed;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 0.3rem;
  width: 4.5rem;
  margin-left: 0.5rem;
}

.fc .fc-button-primary {
  background-color: #28292a;
  border-radius: 0.3rem;
  /* box-shadow: 0px 0px 0.4rem #28292a; */
}

.fc .fc-button-group {
  gap: 1rem;
}

.fc th{
  color: black !important;
  font-weight: 500 !important;
}

.fc-theme-standard td {
  color: black !important;
  font-weight: 500 !important;
}

/* DARK MODE  */

.calender-month_dark{
  background-color: var(--dark-secondary-color);
  color:var(--light-secondary-color)
}

@media ((min-width: 0px) and (max-width: 40rem)) {
  .fc .fc-toolbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.05rem;
  }
}

@media ((min-width: 40rem) and (max-width: 192rem)) {
  :root {
    font-size: 100%;
  }

  .fc .fc-scrollgrid {
    background-color: #fff;
    /* box-shadow: 0px 0px 0.6rem rgba(0,0,0,0.3); */
    border-radius: 0.4rem;
    width: 100% !important;
    height: 66vh !important;
    margin: auto;
  }

  .fc-scrollgrid-sync-table {
    width: 100% !important;
    /* height: 8rem !important; */
  }

  .fc-col-header {
    width: 100% !important;
  }

  .fc .fc-toolbar.fc-header-toolbar {
    width: 100%;
    margin: 0rem auto 2rem auto;
  }

  .fc-view {
    width: 100%;
    margin: auto;
    background-color: #fff;
  }

  .fc .fc-view-harness {
    height: 80vh !important;
  }
}

@media((min-width:0px) and (max-width:400px)) {
  .calender-month {
    width: 82% !important;
    position: absolute;
    top: 9rem;
    left: 6rem;
    margin-left: 1.5rem;
    margin-top: 3rem;
    background: #fff;
    height: 70vh !important;
    padding: 2rem;
  }

  .calender-month>a{
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
    background-color: #f1f6fc;
    padding: 0.8rem 1.5rem;
    margin-bottom: 1.5rem !important;
    box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }

  .demo-app-main{
    margin-top: 2rem;
    width: 86rem ;
  }

  .fc .fc-scrollgrid{
    height: 48vh;
  }

  .fc-theme-standard td {
    width: 12rem;
  }
}