@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  font-size: 62.5%;
  --dark-primary-color:#2c2e36;
  --dark-secondary-color:black;
  --light-primary-color: #f1f6fc;
  --light-secondary-color: #fff;
  --light-tertiary-color: #f1f6fc;
}

@media((min-width:0px) and (max-width:1450px)){
  :root{
    font-size: 42%
  }
}

/* body {
  background-color: #F1F6FC;
} */

.demo_menu {
  padding: 3rem;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo_menu>div{display:flex;flex-direction:column;align-items:center;justify-content:center}

.demo_menu h1 {
  font-weight: 400;
}

.demo_menu div {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.demo_menu div h4 {
  font-weight: 400;
}

.rdt_TableRow {
  background-color: #F1F6Fc !important;
  border: none !important;
  border-radius: 0.6rem;

}

.loader {
  margin-top: 20rem;
}

.flt-input {
  display: flex;
  gap: .3rem;
  padding: 3rem;
}

.flt-input input {
  border-radius: 0.3rem;
  border: 1px solid black;
  padding-inline: 1.5rem;
}

.flt-input button {
  background-color: #f1f6fc;
  padding-inline: 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid black !important;
}

.rdt_TableHeadRow {
  min-height: 0 !important;
  border-bottom: none !important;
}

.rdt_TableBody {
  border-radius: 1rem !important;
  background-color: white !important;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem;
}

.rdt_Table {
  background-color: #F1F6FC !important;
}

.rdt_Pagination {
  border-top: none !important;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.rdt_Pagination>span:nth-child(1) {
  display: none;
}

.rdt_Pagination>div:nth-child(2) {
  display: none;
}

.rdt_TableCell{
  -webkit-flex-basis:auto !important;
} 

.lazy-loader{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media((min-width:0px) and (max-width:400px)){
  .right_main_div{
    overflow-y: scroll !important;
    height: 92vh !important;
  }

  .nav1left{
    height: 102vh !important;
  }

  .table{
    height: 75vh !important;
  }

  .cst-table{
    height:75vh !important
  }

  .advertisement-container {
    height: 78vh !important;
    overflow-y: scroll !important;
  }

  .queue-list-table{
    height: 75vh !important;
    overflow-y: scroll !important;
  }

  .calender-month{
    width: 80vw !important;
    overflow-y: scroll !important;
    height: 75vh !important;
  }

  .sa-br-right_main_form{
    height: 85vh !important;
    overflow-y: scroll !important;
  }

  .singlejoin-barber-quebarber-wrapper{
    height: 85vh !important;
    overflow-y: scroll !important;
  }

  .create-appointment-container{
    height: 85vh !important;
    overflow-y: scroll !important;
  }

  .header > p,.cst-header > p,.advertisement-header>h2{
    font-size: 1.8rem !important;
    color: black !important;
  }

}