.crt-wrapper{
    width: 82% !important;
    position: absolute;
    top: 9rem;
    left: 26.5rem;
    margin-left: 3.5rem;
    margin-top: 3rem;
}

.crt-form{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 3rem;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    row-gap: 2rem;
}

.crt-form input:focus{
    outline: none;
    border: none;
}

.crt-form>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.crt-form>div>input{
    height: 4rem;
    padding-inline: 1rem;
    border: none;
    background-color:#f1f6fc;
}

.crt-form>div>label{
    font-size: 1.4rem;
}

.crt-form>div:nth-child(9)>div:nth-child(1){
    background-color:#f1f6fc;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 3rem;
}

.crt-form>div:nth-child(9)>div:nth-child(1)>div{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.barber-dropdown{
    background-color:#f1f6fc;
    height: 15rem;
    padding: 2rem;
    overflow-y: scroll;
}
.crt-form>div:nth-child(9){
    margin-top: 3rem;
}

.crt-form>div:nth-child(9)>p{
    font-size: 1.4rem;
}

.barber-dropdown-select{
    background-color:#f1f6fc;
    height: 15rem;
    width: 100%;
    padding: 2rem;
    overflow-y: scroll;
}

.crt-form>button{
    background-color: #f1f6fc;
    border: 1px solid rgba(0,0,0,0.3);
    height: 4.5rem;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.barber-dropdown>div{
    background-color: white;
    padding: 0.5rem;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.barber-dropdown-select>div{
    background-color: white;
    padding: 0.5rem;
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap: 1.2rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.barber-dropdown-select>div>div:nth-child(6){
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    cursor: pointer;
}

/* DARK MODE */

.crt-form_dark{
    background-color: var(--dark-secondary-color);
}

.crt-form_dark label{
    color: var(--light-secondary-color)
}

.crt-form_dark input{
    background-color: var(--dark-primary-color) !important;
    color: var(--light-secondary-color)
}

.crt-form_dark input::placeholder{
    color: var(--light-secondary-color)
}

.barber-dropdown_dark{
    background-color: var(--dark-primary-color) !important;
}

.barber-dropdown_dark>div{
    background-color: var(--dark-secondary-color) !important;
}

.barber-dropdonw-select_dark{
    background-color: var(--dark-primary-color) !important;
}

.barber-dropdonw-select_dark>div{
    background-color: var(--dark-secondary-color) !important;
}

@media((min-width:0px) and (max-width:400px)){
    .crt-wrapper{
        width: 82% !important;
        position: absolute;
        top: 9rem;
        left: 6rem;
        margin-left: 1.5rem;
        margin-top: 3rem;
    }

    .crt-form{
        grid-template-columns: 1fr;
    }

    .barber-dropdown{
        width: 40rem;
    }

    .barber-dropdown>div{
        width: 130vw;
        grid-template-columns: 10rem 10rem 10rem 20rem  10rem;
    }

    .barber-dropdown-select {
        width: 73vw ;
    }

    .barber-dropdown-select>div{
        width:130vw;
        grid-template-columns: 10rem 10rem 10rem 20rem  10rem;
    }
}