.queselect-wrapper{
    width: 82% !important;
    position: absolute;
    top: 90px;
    left: 265px;
    margin-left: 35px;
    margin-top: 30px;

    background: #fff;
    height: 80vh;
    padding: 20px;
}

.queselect-head{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-block: 20px;
}

.queselect-content{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    background-color: #f1f6fc;
    font-size: 14px;
    height: 45px;
    padding-inline: 10px;
    border-radius: 6px;
    margin-block: 15px;
    cursor: pointer;
}