.wrapper {
    width: 82% !important;
    position: absolute;
    top: 90px;
    left: 265px;
    margin-left: 35px;
    margin-top: 30px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header > p{
    font-weight: bold;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
}

.header > div{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.header > div div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.header > div div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.6);
    font-size: 22px;
    cursor: pointer;
}

.table{
    background: #fff;
    height: 100vh;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scroll-behavior: smooth;
    overflow-y: scroll;
}


.salon-input{
    display: flex;
    gap: 1rem;
    background-color: #F1F6FC !important;
}

.salon-input input{
    background: white !important;
    height: 35px;
    border-radius: 4px;
    padding-inline: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    outline: none;
}

.salon-input button{
    width: 45px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

.salon-search{
    height: 70%;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.salon-item{
    background-color:#F1F6FC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.4fr 0.4fr 0.4fr;
    gap: 2.5rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.salon-puff-loader-box{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.salon-item>a{
    width: 30px;
    height: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}