.cells:hover{
    background-color: #efefef;
    cursor: pointer;
    border-radius: 50%;
}
.active-cell{
    background-color:  rgb(47, 18, 191);
    color: white;
    border-radius: 50%;
    cursor:default
}

/* these code is if i want to display only specific dates and disable all other dates then these is the code--------IMPORTANT
Check if the clicked date is one of the allowed dates (21, 22, 23)
.special-date {
    color: white;
    background-color: rgb(41, 175, 41);
    border-radius: 50%;
} */
  