.create-appointment-container{
    width: 82% !important;
    position: absolute;
    top: 90px;
    left: 265px;
    margin-left: 35px;
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 40px;
}

.create-form{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10px;
    row-gap: 1rem;
}

.create-form>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-form>div>input{
    width: 85%;
    height: 35px;
    padding-inline: 10px;
}

.create-form>button{
    height: 35px;
    width: 85%;
    background-color: #f1f6fc;
    border: none;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.create-form>div:nth-child(4)>div{
    background-color: #f1f6fc;
    width: 85%;
    height: 180px;
    padding: 10px;
    border-radius: 6px;
    overflow-y: scroll;
}

.create-form>div:nth-child(5)>div{
    background-color: #f1f6fc;
    width: 85%;
    height: 180px;
    padding: 10px;
    border-radius: 6px;
    overflow-y: scroll;
}

.create-form>div:nth-child(6)>div{
    background-color: #f1f6fc;
    width: 85%;
    height: 180px;
    padding: 10px;
    border-radius: 6px;
    overflow-y: scroll;
}

.create-form>div:nth-child(7)>div{
    background-color: #f1f6fc;
    width: 85%;
    height: 180px;
    padding: 10px;
    border-radius: 6px;
    overflow-y: scroll;
}

.timeslot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

.timeslot>button{
    padding: 3px 10px;
    cursor: pointer;
}